{% extends extended_templates %}
{% load staticfiles %}

{% block title %} About Us {% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2 >ABOUT US</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie ullamcorper nisi eget convallis. Vestibulum condimentum, dolor non sollicitudin gravida, ex elit cursus ante, eget congue ante quam vel ipsum. Quisque et enim neque. Suspendisse tempus nec purus ac mollis. Ut in augue est. Nulla tempor arcu sit amet lacus placerat rhoncus. Vivamus gravida ultrices augue a mollis. Donec eget lacus vel arcu viverra ultrices eget ut leo. Ut orci arcu, facilisis nec eros eget, rhoncus malesuada enim. Proin dapibus, lectus a fermentum mattis, tortor mi interdum metus, eget fringilla felis lectus vel erat. Pellentesque mollis nec magna venenatis placerat.</p>

                            <p>Vestibulum eu nunc eu libero auctor elementum. Mauris auctor urna vel est molestie, id pulvinar libero fermentum. Aliquam vehicula tortor pretium enim pellentesque blandit. Mauris quis nunc dictum, aliquet enim nec, rhoncus purus. Fusce eget sodales diam, sit amet pretium libero. Vivamus varius condimentum massa, sit amet fermentum justo convallis id. Maecenas finibus ultricies urna, non laoreet felis ornare ultrices. Nam gravida interdum congue. Cras lacus est, dignissim ut turpis non, pellentesque fermentum nisi. Phasellus eleifend dictum ultricies. Pellentesque blandit pulvinar volutpat.</p>

                            <p>Nulla non lacus sit amet urna rutrum molestie sit amet sit amet urna. Fusce lobortis, purus at sodales tristique, libero nisi facilisis lorem, vel faucibus nisi tellus nec tellus. Praesent sodales vel lorem sed imperdiet. Fusce ante libero, euismod eu tristique nec, dignissim sit amet nunc. Integer id scelerisque augue. In sodales ipsum lectus, non consectetur tortor congue eget. Cras rhoncus tortor arcu, et sollicitudin libero dictum et. Aliquam fringilla ultrices velit non interdum. In semper tempor dui, id pretium nisi convallis in. Suspendisse potenti. Nullam eleifend pulvinar eros, eu faucibus massa accumsan quis. Nullam pellentesque mauris diam, vitae gravida quam bibendum eget. Ut pulvinar mauris vitae risus rhoncus, et luctus ipsum semper.</p>

                            <p>Morbi nec est nec augue tempor condimentum ut at nunc. Nunc eget purus metus. Morbi sagittis sed lectus eu commodo. Nam bibendum euismod ligula, sit amet dignissim ante dictum in. Curabitur mattis quam ac venenatis imperdiet. Aliquam mollis enim nec vestibulum placerat. Aliquam nec nisl elit. Aliquam cursus nibh ullamcorper turpis molestie, ut imperdiet purus commodo. Cras vitae augue sollicitudin, tristique est et, sodales tellus. Ut dignissim diam eu semper feugiat.</p>

                            <p>Fusce at urna sit amet diam auctor commodo quis nec eros. Proin fringilla ac arcu nec dictum. Duis eget urna risus. Vestibulum nisi erat, dignissim id tempus eu, mattis non dolor. In turpis nibh, venenatis in dictum et, faucibus vel nulla. Proin non magna vel sem posuere iaculis non id turpis. Quisque hendrerit sem nec lectus ultrices, quis maximus velit tincidunt. Praesent mattis tellus tempor neque finibus, eget ultrices nulla rhoncus. Cras iaculis tellus fringilla justo fermentum, id semper diam rutrum.</p>

                            <p>Proin gravida orci et ipsum mattis, id elementum dui fermentum. Nam faucibus consectetur mi, vitae ultrices dui venenatis vitae. Vivamus tellus lectus, vulputate a pulvinar id, placerat eu ex. Proin lobortis purus leo, ut vulputate sapien lobortis id. Nam tempor suscipit gravida. Suspendisse potenti. Nulla tortor urna, ultricies ut diam eget, scelerisque ullamcorper nulla. Integer lobortis tristique lobortis. Etiam aliquam purus a justo convallis, sed feugiat nibh aliquam. Quisque dictum erat enim, vel tincidunt felis mattis eu. Praesent sit amet nibh eget turpis rutrum hendrerit. Nunc mattis purus id augue molestie, id aliquet dui porttitor.</p>                  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}