{% extends extended_templates %}
{% load staticfiles %}

{% block title %} Contact Us {% endblock %}

{% block content %}
    <div class="right_col customFont" role="main">
        <div class="">
            <div class="page-title">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <ul class="contacts row">
                                    <div>
                                        <div id="contactCardLeft" class="col profile_details">
                                            <div class="well profile_view" style="width: 100%;">
                                                <div class="col-sm-12">
                                                    <h4 class="brief"><i>Developer</i></h4>
                                                    <div class="left col-xs-7">
                                                        <h2>Mark Debbane</h2>
                                                        <br>
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-mail-forward"></i> Mail: markdebbane@gmail.com </li>
                                                            <li>Personal website: <a href="http://markdebbane.com/">www.markdebbane.com</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="{% static 'images/user.png'%}" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div  id="contactCardRight" class="col profile_details">
                                            <div class="well profile_view" style="width: 100%;">
                                                <div class="col-sm-12">
                                                    <h4 class="brief"><i>Developer</i></h4>
                                                    <div class="left col-xs-7">
                                                        <h2>Ahmad El Amine</h2>
                                                        <br>
                                                        <br>
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-mail-forward"></i> Mail:  ahmadelamine97@gmail.com </li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="{% static 'images/user.png'%}" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div  id="contactCardLeft" class="col profile_details">
                                            <div class="well profile_view" style="width: 100%;">
                                                <div class="col-sm-12">
                                                    <h4 class="brief"><i>Developer</i></h4>
                                                    <div class="left col-xs-7">
                                                        <h2>Tarek Makkouk</h2>
                                                        <br>
                                                        <br>
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-mail-forward"></i> Mail: tjm11@mail.aub.edu </li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="{% static 'images/user.png'%}" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="contactCardRight"  class="col profile_details">
                                            <div class="well profile_view" style="width: 100%;">
                                                <div class="col-sm-12">
                                                    <h4 class="brief"><i>Developer</i></h4>
                                                    <div class="left col-xs-7">
                                                        <h2>Anas El Amine</h2>
                                                        <br>
                                                        <br>
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-mail-forward"></i> Mail: ale01@mail.aub.edu </li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="{% static 'images/user.png'%}" alt="" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}