{% extends 'LoggedIn/base.html' %}
{% load staticfiles %}
{% block content %}

        <table class="table">
            <tbody>
            {% for contact in ContactList.contact_set.all %}
                <tr>
                    <td>{{ contact.first_name }}</td><td>{{ contact.last_name }}</td>
                    <td>
                        <form action="{% url 'Survey:inviteInd' id=Survey.id contact_id=contact.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default btn-xs" style="float: right">
                                <span class="glyphicon glyphicon-envelope"></span>&nbsp; Send Invite
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    <div style="text-align: center">
        <a href="{% url 'Survey:waytoinvite' id=Survey.id %}" style="text-align: center;">
            <button style="margin-top: 4%; size: 20px; text-align: center;" class="btn btn-success">
                Go Back
            </button>
        </a>

        <a href="{% url 'Survey:loggedHome' %}" style="text-align: center;">
            <button style="margin-top: 4%; size: 20px; text-align: center;" class="btn btn-success">
                Done
            </button>
        </a>
    </div>

{% endblock %}
